
@{
    Layout = "~/Views/Shared/_AdminInventoryLayout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div class="modal-body">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Barkod</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Barkod">
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Ürün Tipi</label>
            <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>...</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Garanti kapsamında</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputDate">Entry Date</label>
            <input type="datetime-local" class="form-control" id="inputDate" placeholder="Entry Date">
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: "http://localhost:59510/api/AssetType",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            type: "get",
            success: function (data) {
                console.log(data);
                var total = "";
                $.each(data, function (index, val) {
                    var id = val.id;
                    var name = val.description;

                    total += "<option>" + id + " - " + name + "</option>"

                });

                $("#inputState").append(total);
            },
            failure: function (data) {
                alert(data);
            },
            error: function (cevap) {
                alert(cevap);
            }

        });
    });

</script>